@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,200;0,300;0,600;0,700;1,500&display=swap");
/* 
1-- FEATURE CONTENT 
2-- CARD SECTION
*/

/* 1-- FEATURE CONTENT */
.feature-content-wrapper {
  background-image: url(./img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 67px;
  padding-left: 138px;
  padding-right: 138px;
}

.nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-brand {
  flex: 1;
}
.nav-menu {
  flex: 1;
}
.nav-menu-wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.nav-menu-wrapper .nav-menu-item,
.nav-brand {
  list-style: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.8125px;
}
.nav-brand {
  font-size: 18px;
}

.feature-content-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.feature-text-h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 182px;
  line-height: 169px;
  text-align: center;
  letter-spacing: -3.74111px;
  color: rgba(255, 255, 255, 0.93);
  margin-bottom: 31px;
}
.feature-text-p {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.416875px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.66;
  margin-bottom: 67px;
}
.btn-secondary {
  border: 0;
  background: #9013fe;
  border-radius: 17.5px;
  padding: 11px 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}
/* 1-- END FEATURE CONTENT  */
/* 2-- CARD SECTION */
.card-section {
  background: linear-gradient(
      0deg,
      rgba(144, 19, 254, 0.8),
      rgba(144, 19, 254, 0.8)
    ),
    url(./img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 136px;
  padding-bottom: 118px;
  padding-right: 130px;
  padding-left: 130px;
}

.card-section-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2.1px;
  color: #ffffff;
}
.card-section-description {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 169px;
  margin-bottom: 65px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 132px;
  padding-bottom: 140px;
  padding-left: 80px;
  padding-right: 80px;
  background: rgba(0, 0, 0, 0.76);
  min-width: 179px;
}
.card-text {
  font-family: "Lato";
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 11px;
}

.show-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  opacity: 0;
}
.card-shown-text {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #9a9898;
  margin-bottom: 28px;
}

.scale-up-top {
  animation: slide-bottom 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* 2-- END CARD SECTION */
